<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
     创建对象方法一：构造函数
     id表示获取到对象标识 class 创建哪个类的对象
     -->
    <bean id="people1" class="com.jazzyshi.pojo.People">
        <!--1.什么都不填，默认构造函数-->

        <!--2.有参构造函数 可以设置属性值 -->
        <constructor-arg
                index="0" name="id" type="int" value="123">
        </constructor-arg>
        <constructor-arg
                index="1" name="name" type="java.lang.String" value="123">
        </constructor-arg>
    </bean>
    <!--
        创建对象方法二：实列工厂
    -->
    <bean id="factory2" class="com.jazzyshi.pojo.PeopleFactory"/>
    <bean id="people2" factory-bean="factory2" factory-method="newInstance"/>

    <!--
        创建对象方法三：静态工厂： 配置文件里不需要创建工厂，快速创建对象
    -->
    <bean id="people3" class="com.jazzyshi.pojo.PeopleFactory" factory-method="newStaticInstance"/>

    <!--
    给Bean的属性设置值
    1.通过构造方法
    2.设置注入（通过set方法）
    -->
    <bean id="peoAll" class="com.jazzyshi.pojo.People">
        <!--2.1基本数据类型 -->
        <property name="id" value="3"/>
        <property name="name" value="jizhuo"/>
        <!--2.2属性是set<?>-->
        <property name="sets">
            <set>
                <value>1</value>
                <value>2</value>
            </set>
        </property>
        <!--2.3属性是List<?>-->
        <property name="lists">
            <list>
                <value>3</value>
                <value>4</value>
            </list>
        </property>
        <!--2.4属性是数组-->
        <property name="arrays">
            <array>
                <value>5</value>
                <value>6</value>
            </array>
        </property>
        <!--2.5属性是数组-->
        <property name="maps">
            <map>
                <entry key="address" value="tanggouzheng">
                </entry>
                <entry key="likes" value="swimm">
                </entry>
            </map>
        </property>
        <!--2.6属性是properties -->
        <property name="props">
            <props>
               <prop key="address">shuyang</prop>
                <prop key="likes">run</prop>
            </props>
        </property>
    </bean>

    <!--DI  当A类需要宁外一个B类时，把B赋值给A的过程叫依赖注入-->
    <bean id="peopleDI" class="com.jazzyshi.pojo.People">
       <property name="house" ref="houseid"/>
    </bean>
    <bean id="houseid" class="com.jazzyshi.pojo.House">
        <property name="houseName" value="翠湖"/>
        <property name="housePrice" value="400"/>
    </bean>


</beans>